.App {
  text-align: center;
  display: flex;
}

h1 {
  text-align: center;
  font-family: Quicksand;
}

h2 {
  text-align: center;
  font-family: Quicksand;
}

h3 {
  text-align: center;
  font-family: Quicksand;
}

h4 {
  font-family: Quicksand;
  font-weight: normal;
}

a {
  font-family: Montserrat;
  padding: 0.5rem;
}

p {
  color: #4f4d4c;
  font-family: Montserrat;
}

button {
  align-self: center;
  margin: 1rem;
  color: white;
  text-align: center;
  background-color: #c45c4c;
  padding: 0.5rem 1rem;
  border: #c45c4c solid;
  border-radius: 1rem;
  font-family: Quicksand;
}

button:hover {
  cursor: pointer;
  background-color: #c9c9c4;
  border-color: #c9c9c4;
}

.react-icon {
  color: #c45c4c;
}

.home {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: flex-start;
}

.redS {
  border: #c45c4c 1px solid;
  margin: 0.5rem;
}

.grayS {
  border: #c9c9c4 1px solid;
  margin: 0.5rem;
  height: 1px;
}

.loading {
  display: block;
  margin: auto;
  margin-top: 5rem;
}

.loading img {
  width: 200px;
}
