.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu ul {
  text-align: center;
  padding: 0;
}

.menu li {
  list-style-type: none;
  margin: 0;
  padding-bottom: 1rem;
  font-family: Montserrat;
}

.menu .react-icon {
  padding: 0.5rem;
}

.menu .react-icon:hover {
  cursor: pointer;
}

.menu label {
  margin: 0;
  border: 0;
  padding: 1rem;
}

.menu input {
  width: 5rem;
}

.laimage {
  font-size: 10pt;
}

.inimage {
  width: 20rem !important;
}

.inimage:focus + label,
.inimage + label:hover {
  cursor: pointer;
  background-color: #c9c9c4;
  border-color: #c9c9c4;
}

textarea {
  width: 15rem;
  resize: vertical;
  font-family: Montserrat;
  border: 0;
  font-size: 10pt;
}

textarea:focus {
  outline: none;
}

.categories {
  display: flex;
}

.categories li {
  padding: 0.5rem;
}

.categories li:hover {
  cursor: pointer;
}

.selected {
  color: #c45c4c;
  font-weight: bold;
}

.menu .react-icon {
  padding: 0 0 0 0.5rem !important;
}

.menu form {
  flex-direction: column !important;
  align-content: center;
}

li img {
  width: 100%;
  max-width: 300px;
}
