.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-family: Montserrat;
  padding-left: 1rem;
  margin: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: #c9c9c4 0.5px solid;
  display: flex;
  align-items: center;
  color: #4f4d4c;
}

input {
  font-family: Montserrat;
  border: 0;
}

#mail {
  padding-right: 1.1rem;
}

input:focus {
  outline: none;
}

.login .logo {
  height: 10rem;
  width: 10rem;
  padding: 2rem;
}

.login .react-icon {
  padding-right: 0.5rem;
}

.gray {
  color: #c9c9c4;
}

.red {
  color: #c45c4c;
}

.login a {
  color: white;
  text-decoration: none;
}

.orBttn {
  color: #c45c4c !important;
  text-decoration: underline !important;
}
