.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.login label {
  padding-left: 1rem;
  margin: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: #c9c9c4 0.5px solid;
  display: flex;
  align-items: center;
  color: #4f4d4c;
}

.login input {
  font-family: Montserrat;
  border: 0;
}

#mail {
  padding-right: 1.1rem;
}

.login input:focus {
  outline: none;
}

.login .logo {
  height: 10rem;
  width: 10rem;
  padding: 2rem;
}

.login .react-icon {
  padding-right: 0.5rem;
}

.gray {
  color: #c9c9c4;
}

.red {
  color: #c45c4c;
}

.loginbttn {
  align-self: center;
  margin: 1rem;
  color: white;
  text-align: center;
  background-color: #c45c4c;
  padding: 0.5rem 1rem;
  border: #c45c4c solid;
  border-radius: 1rem;
  font-family: Quicksand;
}

.loginbttn:hover {
  cursor: pointer;
}
