.orderItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.orderItems label {
  padding-left: 1rem;
  margin: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: #c9c9c4 0.5px solid;
  display: flex;
  align-items: center;
  color: #4f4d4c;
}

.orderItems input {
  margin-right: 0.5rem;
}

.orderItems label:hover {
  cursor: pointer;
}

.quantity {
  /*monospaced font !! para que quede alineado verticalmente*/
  font-family: "DM Mono";
  color: #c45c4c;
  padding-right: 0.2rem;
}

.plate {
  font-family: Quicksand;
}

.redDot {
  border: #c45c4c 2px solid;
  border-radius: 2px;
  margin: 0.5rem;
}
