.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings .react-icon {
    padding: 0.5rem;
}

.settings .react-icon:hover{
    cursor: pointer;
}

.logout {
    background-color:#4f4d4c;
    border-color: #4f4d4c;
}

.mono {
    /*monospaced font !! para que quede alineado verticalmente*/
    font-family: "DM Mono";
  }