.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings .react-icon {
  padding: 0.5rem;
}

.settings .react-icon:hover {
  cursor: pointer;
}

.settings label {
  border: 0;
  padding: 0;
}

.userLabel {
  display: flex;
  flex-direction: column;
}

.userLabel input {
  padding: 0.5rem;
  font-size: 10pt;
  text-align: center;
}

.qrsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 20%;
}

.tableqr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.hline {
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
  border-bottom: #c9c9c4 0.5px solid;
}

.logout {
  background-color: #4f4d4c;
  border-color: #4f4d4c;
}

.mono {
  /*monospaced font !! para que quede alineado verticalmente*/
  font-family: "DM Mono";
}
